<!DOCTYPE html>
<html>
	<head>
		<title>Node Demo App</title>
		<!-- You need the "/app.css" so Express looks in the root directory for app.css not in the current directory-->
		<link rel="stylesheet" href="/app.css" type="text/css">
	</head>
	<body>

